@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@368&display=swap');
*{
  padding: 0;
  margin: 0;
}
.letra{
  font-family: "Bebas Neue", sans-serif; 
  font-weight: 500;
}
.letra2{
  font-family: 'Raleway';
  font-weight: bold;
}

.container input {
  display: block;
  right: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  right: 0;
  width: 60px;
  position: absolute;
  cursor: pointer;
  user-select: none;
}

.container svg {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

.container svg:active {
  transform: scale(1.5);
}

.container input:checked ~ svg {
  fill: #ffeb49;
}
