@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@368&display=swap');
@media screen and (max-width: 500px) {
  header{
    height: 20vh; 
  }
}
*{
  padding: 0;
  margin: 0;
}
.letra{
  font-family: "Bebas Neue", sans-serif; 
  font-weight: 500;
}
.letra2{
  font-family: 'Raleway';
  font-weight: bold;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: flex;
  right: 0;
  width: 50px;
  position: absolute;
  cursor: pointer;
  user-select: none;
}

.container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

.container svg:hover {
  transform: scale(1.1);
}

.container input:checked ~ svg {
  fill: #ffeb49;
}
